 body {
    font-family:'Roboto',sans-serif;   
    background-color: #FFFFFF;
    color: #434455;
 }
.header {
  border-bottom: 1px  solid #e7e9fc;
  box-shadow:  0px 1px 6px 0px rgba(46, 47, 66, 0.08),
  0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.header-link {
  text-decoration: none;
}
.header-logo{
  text-decoration: none;
}
.address-list{
  text-decoration: none;
}
 .header-container {
  display: flex;
 }

.header-navigation {
  display: flex;
  align-items: center;

}

p,h1,h2,h3 {
margin-top: 0;
margin-bottom: 0;
}
ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
.container {
  width: 100%;
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.container-link {
  display: flex;
  gap: 40px;
}
.container-address {
  display: flex;
  gap: 40px;
}

.header-logo {
  font-family: "Raleway", sans-serif
}

 .header-menu-list {
  color: #2e2f42;
 }
.hero-class { 
    max-width: 1440px;
    background: #2E2F42; 
    margin: 0 auto;
    padding: 188px 0;
    background-image:  linear-gradient( to bottom, rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7) ),  url(../images/peopleoffice.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

 
 .header-logo {
   color: #4d5ae5 ;
   font-size: 18px;
   font-weight: 700;
   line-height: 1.17;
   position: relative;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   margin-right: 76px;
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
 }

 .span-studio {
  color:  #2e2f42;
 }
 .header-list-class:first-child .header-link {
  position: relative; 
  color: #404bbf; 
  
 }
 .header-list-class:first-child .header-link::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf; 
  border-radius: 2px; 
 }
 
 .header-link {
  display: block;
  color: #2e2f42;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-size: 16px;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

.header-link:hover {color: #404bbf;}
  

.header-link:focus {color: #404bbf;}
 


 .adress {
  margin-left: auto;
  font-style: normal;
 }
 .address-list {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  color:  #434455;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition:  color 250ms cubic-bezier(0.4, 0, 0.2, 1)
 }

 .address-list:hover { color: #404bbf; }
 .address-list:focus { color: #404bbf; }
 .hero-title { 
  color: #FFF; 
  max-width:496px ;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 48px; 
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  font-size: 56px;
 }
  


.hero-bye-btn {
  background-color: #4D5AE5;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  text-align: center;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  cursor: pointer; 
}
  .hero-bye-btn:hover {
    background-color: #404BBF;
  }
  .hero-bye-btn:focus {
    background-color: #404BBF;
  }

  
.menu-class {
  padding: 120px 0;
}
.title-text {
  line-height: 1.2;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-info {
  display: flex; 
  gap: 24px; 
}
 .main-info-list-item { 
 width: calc((100% - 72px) / 4); 
 }
 .title-link {
  color:#2E2F42;
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
margin-bottom: 8px; 
 }

 .icon-class {
  display: flex; 
  align-items: center;
  justify-content: center; 
  height: 112px; 
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
 }
 .title-paragraph {
  color: #434455;
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
 }

 
.contact-aside-item {
  background-color: #F4F4FD;
  padding: 120px 0;
}
  
 .subject-content-aside {
  color: #2E2F42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
 }
 .section-items {
  background-color: #F4F4FD;
  display: flex; 
  gap: 24px; 

 }
 

 .class-photo {
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px; 
  box-shadow:  0px 1px 6px rgba(46,47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
 }

.posada-class {
  padding: 32px 0;  
}

 .subject-item {
  color: #2E2F42;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
 }
 .subject-paragraph {
  color: #434455;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 8px;
  line-height: 1.5;
  letter-spacing: 0.02em; 
 }
.ikon-list {
  display: flex; 
  justify-content: center;
  gap: 24px; 
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}
.ikon-item {
  width: 40px; 
  height: 40px; 
  transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

 .ikon-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius:  50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .ikon {
  fill: #f4f4fd;
 }
 


.ikon-link:hover {
  background-color: #404bbf;
}

.ikon-link:focus {
  background-color: #404bbf;
}


 .portfolio {
 padding-top: 120px;
 padding-bottom: 120px;
 }

 .portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px; 
  row-gap: 48px;
 }

 
 .portfolio-list-item {
   width: calc((100% - 48px) / 3); 
   transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

.portfolio-container {
  position: relative; 
  overflow: hidden; 
}
.paragraph-text {
  height: 100%; 
  width: 100%; 
  position: absolute;
  top: 0; 
  padding: 40px 32px;
  font-size: 16px; 
  line-height: 1.5;
  letter-spacing: 0.02em;
  color:  #f4f4fd; 
  padding: 40px 32px; 
  background-color: #4d5ae5; 
  transform: translateY(100%); 
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.paragraph-text:hover {
  transform: translateY(0%);
  box-shadow: 0px 1px 6px rgba(46, 47, 66,0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); 
}
 .servises-class {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none; 
  
 }
  .class-photo {
    background-color: #FFFFFF;
  }
.title-section {
  color:#2E2F42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  
  margin-bottom: 72px;
}

.servises {
  color: #2E2F42;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-size: 20px;
  margin-bottom: 8px;
  
  
}
.portfolio-list-item:hover,
.portfolio-list-item:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66,0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); 
}
.portfolio-container {
  position: relative;
  overflow: hidden;
}
.portfolio-list-item:hover .paragraph-text,
.portfolio-list-item:focus .paragraph-text {
  transform: translateY(0);
}


 .activity {
  color: #434455;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-size: 16px;
 }



.footer{ 
  background-color: #2E2F42;
  padding-top: 100px;
  padding-bottom: 100px;
}

 .span-footer-studio {
  color: #F4F4FD;
 }

 .footer-html {
  color: #4d5ae5;
  font-family: "Raleway",sans-serif;
  display: inline-block;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-size: 18px;  
  margin-bottom: 16px;
 }
.footer-html {
  text-decoration: none;
}

.footer-paragraph {
  color: #F4F4FD;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
 }

.logo-footer {
  margin-right: 120px;

}

.paragraph-media {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #FFFFFF ;
  margin-bottom: 16px;

}
.media-item {
  display: flex; 
  gap: 16px; 
}
.media-ikon {
 width: 100%;
 height: 100%;
 background-color: #4d5ae5;
 border-radius:  50%;
 display: flex;
 align-items: center; 
 justify-content: center; 
 transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.media-ikon:hover {
  background-color: #31d0aa; 
}
.media-ikon:focus {
  background-color: #31d0aa;
}
 .media-list {
  width: 40px;
  height: 40px;
 }
 .ikon-svg {
  fill: #f4f4fd;
 }
.footer-container {
  display: flex;
  align-items: baseline;
}
/**================*/

.backdrop {
 position: fixed;
 top: 0;
 width: 100%;
 height: 100%;
 background-color: rgba(46, 47, 66, 0.40);
 transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  width: 408px;
  height: 584px;
  min-height: 584px; 
  border-radius: 4px;
  background-color: #FCFCFC;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-bottom: 24px;
  padding-top: 72px;
   padding-right: 24px;
  padding-left: 24px; 
  box-shadow:  0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
  

.modal-btn {
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  background-color: transparent;
  display: flex; 
  align-items: center;
  justify-content: center; 
  background-color: #e7e9fc; 
  border: 1px solid rgba(0, 0, 0, 0.1); 
  cursor: pointer; 
  position: absolute; 
  border-radius: 50%;
  border: none;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250mscubic-bezier(0.4, 0, 0.2, 1);  
}

.modal-btn:hover {
  background-color: #404bbf; 
}
.modal-btn:focus {
  background-color: #404bbf; 
}

.modal-title {
 color: #2E2F42;
 max-width: 360px;
text-align: center;
font-family: Roboto;
margin-bottom: 16px;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1,5;
letter-spacing: 0.32px;
}

.modal-field {
  
}
 

.modal-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid var(--IRIS, #4D5AE5);
  background-color: transparent;
  margin-bottom: 26px;
  padding-left: 38px;
  outline: transparent; 
  border: 1px solid rgba(46, 47, 66, 0.4); 
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.modal-input:focus {
  border-color: #4D5AE5;
}
.modal-form-btn {
  padding: 16px, 32px;
  width: 105px;
  height: auto 24px;
  background-color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
  border-radius: 4px;
  background-color: #4D5AE5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
}

.modal-label {
 display: block;
color: #8E8F99;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 14px;
letter-spacing: 1.17;
margin-bottom: 4px;
}
.modal-ikon {
 position: absolute;
 width: 18px;
 height: 24px;
 left: 16px;
 right: 16px;
 top: 50%;
 transform: translateY(-50%);
 transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.input-wrap {
  position: relative;
}


